
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.personalInfo {
  font-family : 'Nunito', sans-serif;
}

header {
text-align : center;
}

header h1 {
  font-family : 'Zen Tokyo Zoo', cursive;
  font-size : 48px;
}

header p {
  font-family : 'Nunito', sans-serif;
  font-size : 24px;
  font-weight : 600;
}
.section-personalInfo {
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center; 
}

textarea {
  display : block;
  resize : none;
}

form { 
  width : 30%;
  font-size : 20px;
}

form input, textarea {
  width : 50%;
}

.row {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  padding : 2.5% 0 2.5% 0;
}


.experience-section:first-child, .p-class {
  font-family : 'Nunito', sans-serif;
  font-size : 24px;
  font-weight : 600;
  text-align : center;
}

.experience-form {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.education-form {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.display-handler {
  display : block;
  margin : 0 auto;
}

.conditional-render {
  border : 1px solid blue;
  width : 50%;
  margin : 0 auto;
}

.resume-header-h1-inline {
  display : inline;
  font-size : 42px;
  letter-spacing : 1px;
}

.resume-header {
  padding : 2%;
  background-color : rgb(20, 62, 114);
  color : white;
  font-family : Nunito, sans-serif;
}

.title-p {
  font-size : 1.6rem;
  margin : 0;
  margin-top : 1%;
}

.description-personalDetails {
  padding : 2%;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.description {
  align-self : flex-start;
}

.margin-remove {
  margin : 0;
}

.heading-blue {
  color : rgb(20, 62, 114);
  font-weight : 600;
  font-size : 1.2rem;
  margin : 0;
  border-bottom : 1px solid rgb(204, 204, 204);
}

.margin-top-push {
  margin-bottom : 1%;
}

.p-dark {
  font-weight : 600;
}

.experience-section-resume{
  padding : 2%;
}

.experience-contents {
  max-width : 50%;
  margin-top : 1%;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.date-item {
  align-self : flex-start;
}

.education-section-resume {
  padding : 2%;
}

.education-contents {
  max-width : 60%;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}