
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.personalInfo {
  font-family : 'Nunito', sans-serif;
}

header {
text-align : center;
}

header h1 {
  font-family : 'Zen Tokyo Zoo', cursive;
  font-size : 48px;
}

header p {
  font-family : 'Nunito', sans-serif;
  font-size : 24px;
  font-weight : 600;
}
.section-personalInfo {
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center; 
}

textarea {
  display : block;
}

form { 
  width : 30%;
  font-size : 20px;
}

form input, textarea {
  width : 50%;
}

.row {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  padding : 2.5% 0 2.5% 0;
}
